.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid gray;
    background-color: beige;
    padding: 2px;
    margin: 2px;
    font-size: small;
}